<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Vue Course Goals</h1>
    </header>
    <section id="user-goals">
      <h2>My course goals</h2>
      <input type="text" v-model="enteredGoalValue" />
      <button @click="addGoal">Add Goal</button>
      <p v-if="goals.length === 0">
        No goals have been added yet - please start adding some!
      </p>
      <ul v-else-if="goals.length > 0">
        <li>Goal</li>
      </ul>
    </section>
  </body>
</html>


<!-- The v-show directive in Vue.js is used to show or hide elements based on a boolean expression.
Unlike v-if, which adds or removes elements from the DOM based on the evaluated expression,
v-show simply toggles the element's display style property to show or hide it.
You can use v-show when you prefer to maintain the DOM state of an element rather than adding or removing it,
which can be useful in terms of performance when the state is expected to change frequently. -->

<!-- The v-for directive in Vue.js is used to render a list of elements based on an array or an object.
It allows you to iterate over the elements of the list and render an element or a component for each item in the list.
v-for can also be used to iterate over the properties of an object, but in that case, you need to use the key-value pair syntax (value, key) in object. -->